<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <a *ngIf="!isAutenticated" href="#" (click)="login()">Iniciar sesión</a>
    <div *ngIf="isAutenticated" class="btn-group dropstart" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()" [class.show]="dropdownOpen">
      <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button">
        <img src="iconoUser.webp" alt="usuario" class="rounded-circle" width="30" height="30">
      </button>
      <ul class="dropdown-menu dropdown-left" [class.show]="dropdownOpen">
        <li><a class="dropdown-item" href="#">Lista de deseos</a></li>
        <li><a class="dropdown-item" href="#">Carrito</a></li>
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><a class="dropdown-item" href="#">Pedidos</a></li>
        <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
