<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="d-flex">
      <input type="text" [(ngModel)]="searchText" class="form-control me-2" placeholder="Buscar" aria-label="Search">
      @if (searchText.trim() !== "") {
        <button (click)="onSearch()" class="btn btn-outline-success"><i class="bi bi-search"></i></button>
      }
    </div>


    
    <button *ngIf="!isAutenticated" (click)="login()">Iniciar sesión</button>
    <div *ngIf="isAutenticated" class="btn-group dropstart" (mouseenter)="openDropdown()" (mouseleave)="closeDropdown()" [class.show]="dropdownOpen">
      
      <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button">
        <img src="iconoUser.webp" alt="usuario" class="rounded-circle" width="30" height="30">
      </button>
      <ul class="dropdown-menu dropdown-left" [class.show]="dropdownOpen">
        <li><a class="dropdown-item" href="#">Lista de deseos</a></li>
        <li><a class="dropdown-item" href="#">Carrito</a></li>
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><a class="dropdown-item" href="#">Pedidos</a></li>
        @if (isAdmin()) {
          <li><a class="dropdown-item" [routerLink]="['creacionProducto']">Añadir productos</a></li>
        }
        <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
