<footer class="bg-black bg-gradient">
    <div class="container-fluid container-p-x pt-12 pb-6 mx-auto">
      <div class="row pt-4">
        <div class="col-12 col-sm-6 col-md-3 mb-6 mb-sm-0 ">
          <h4 class="fw-bold mb-4">
            <a
              href=""
              target=""
              class="footer-text"
              >El portal cofrade
            </a>
          </h4>
          <span>Todo tipo de artículos cofrades</span>
          <div class="social-icon my-4">
            <a href="" class="btn btn-icon btn-sm">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="btn btn-icon btn-sm">
              <i class="bi bi-twitter-x"></i>
            </a>
            <a href="" class="btn btn-icon btn-sm">
              <i class="bi bi-whatsapp"></i>
            </a>
            <a href="" class="btn btn-icon btn-sm">
              <i class="bi bi-instagram"></i>
            </a>
          </div>
          <p class="pt-6 fw-bold">
              {{ currentYear }} ©
          </p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-6 mb-md-0">
          <h5>Company</h5>
          <ul class="list-unstyled">
            <li><a href="javascript:void(0)" class="footer-link d-block pb-2">About</a></li>
            <li>
              <a href="javascript:void(0)" class="footer-link d-block pb-2"
                >Career <span class="badge bg-label-primary text-capitalize">We're hiring</span></a
              >
            </li>
            <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Blog</a></li>
            <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Customers</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
          <h5>Features</h5>
          <ul class="list-unstyled">
            <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Affiliate Program</a></li>
            <li>
              <a href="javascript:void(0)" class="footer-link d-block pb-2">Integration</a>
            </li>
            <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Support</a></li>
            <li><a href="javascript:void(0)" class="footer-link d-block pb-2">Special Offers</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>