<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="container">

    <div class="row">
        <div class="col-xl-8">

            <div class="card">
                <div class="card-body">
                    <ol class="activity-checkout mb-0 px-4 mt-3">
                        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                            <li class="checkout-item">
                                <div class="avatar checkout-icon p-1">
                                    <div class="avatar-title rounded-circle bg-primary">
                                        <i class="bx bxs-receipt text-white font-size-20"></i>
                                    </div>
                                </div>
                                <div class="feed-item-list">
                                    <div>
                                        <h5 class="font-size-16 mb-1">Datos de la Compra</h5>
                                        <div class="mb-3">
                                            <div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="billing-name">Nombre completo
                                                            </label>
                                                            <input type="text" class="form-control" id="billing-name"
                                                                placeholder="Nombre y apellidos"
                                                                formControlName="nombre_completo">
                                                            <div
                                                                *ngIf="checkoutForm.controls['nombre_completo'].hasError('required') && checkoutForm.controls['nombre_completo'].touched">
                                                                <small class="text-danger">Campo nombre sin
                                                                    completar</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="billing-phone">DNI</label>
                                                            <input type="text" class="form-control" id="billing-phone"
                                                                placeholder="Introduce el DNI" formControlName="dni">
                                                            <div
                                                                *ngIf="checkoutForm.controls['dni'].hasError('required') && checkoutForm.controls['dni'].touched">
                                                                <small class="text-danger">Campo DNI sin
                                                                    completar</small>
                                                            </div>
                                                            <div
                                                                *ngIf="checkoutForm.controls['dni'].hasError('pattern') && checkoutForm.controls['dni'].touched">
                                                                <small class="text-danger">Formato de DNI
                                                                    inválido</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label class="form-label"
                                                                for="billing-phone">Teléfono</label>
                                                            <input type="text" class="form-control" id="billing-phone"
                                                                placeholder="Introduce número de teléfono"
                                                                formControlName="telefono">
                                                            <div
                                                                *ngIf="checkoutForm.controls['telefono'].hasError('required') && checkoutForm.controls['telefono'].touched">
                                                                <small class="text-danger">Campo teléfono sin
                                                                    completar</small>
                                                            </div>
                                                            <div
                                                                *ngIf="checkoutForm.controls['telefono'].hasError('pattern') && checkoutForm.controls['telefono'].touched">
                                                                <small class="text-danger">Formato de teléfono
                                                                    inválido</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label" for="billing-address">Dirección</label>
                                                    <textarea class="form-control" id="billing-address" rows="3"
                                                        placeholder="Introduce la dirección completa"
                                                        formControlName="direccion"></textarea>
                                                    <div
                                                        *ngIf="checkoutForm.controls['direccion'].hasError('required') && checkoutForm.controls['direccion'].touched">
                                                        <small class="text-danger">Campo dirección sin completar</small>
                                                    </div>
                                                    <div
                                                        *ngIf="checkoutForm.controls['direccion'].hasError('minLength') && checkoutForm.controls['direccion'].touched">
                                                        <small class="text-danger">Dirección no válida</small>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="mb-4 mb-lg-0">
                                                            <label class="form-label">Ciudad</label>
                                                            <select name="ciudad" id="ciudad" formControlName="ciudad"
                                                                class="form-control">
                                                                <option value="">-- Selecciona una provincia --</option>
                                                                <option value="Alava">Álava</option>
                                                                <option value="Albacete">Albacete</option>
                                                                <option value="Alicante">Alicante</option>
                                                                <option value="Almeria">Almería</option>
                                                                <option value="Asturias">Asturias</option>
                                                                <option value="Avila">Ávila</option>
                                                                <option value="Badajoz">Badajoz</option>
                                                                <option value="Barcelona">Barcelona</option>
                                                                <option value="Burgos">Burgos</option>
                                                                <option value="Caceres">Cáceres</option>
                                                                <option value="Cadiz">Cádiz</option>
                                                                <option value="Cantabria">Cantabria</option>
                                                                <option value="Castellon">Castellón</option>
                                                                <option value="Ceuta">Ceuta</option>
                                                                <option value="CiudadReal">Ciudad Real</option>
                                                                <option value="Cordoba">Córdoba</option>
                                                                <option value="Cuenca">Cuenca</option>
                                                                <option value="Girona">Girona</option>
                                                                <option value="Granada">Granada</option>
                                                                <option value="Guadalajara">Guadalajara</option>
                                                                <option value="Guipuzcoa">Guipúzcoa</option>
                                                                <option value="Huelva">Huelva</option>
                                                                <option value="Huesca">Huesca</option>
                                                                <option value="IllesBalears">Illes Balears</option>
                                                                <option value="Jaen">Jaén</option>
                                                                <option value="LaCoruna">La Coruña</option>
                                                                <option value="LaRioja">La Rioja</option>
                                                                <option value="LasPalmas">Las Palmas</option>
                                                                <option value="Leon">León</option>
                                                                <option value="Lleida">Lleida</option>
                                                                <option value="Lugo">Lugo</option>
                                                                <option value="Madrid">Madrid</option>
                                                                <option value="Malaga">Málaga</option>
                                                                <option value="Melilla">Melilla</option>
                                                                <option value="Murcia">Murcia</option>
                                                                <option value="Navarra">Navarra</option>
                                                                <option value="Ourense">Ourense</option>
                                                                <option value="Palencia">Palencia</option>
                                                                <option value="Pontevedra">Pontevedra</option>
                                                                <option value="Salamanca">Salamanca</option>
                                                                <option value="Segovia">Segovia</option>
                                                                <option value="Sevilla">Sevilla</option>
                                                                <option value="Soria">Soria</option>
                                                                <option value="Tarragona">Tarragona</option>
                                                                <option value="SantaCruzDeTenerife">Santa Cruz de
                                                                    Tenerife</option>
                                                                <option value="Teruel">Teruel</option>
                                                                <option value="Toledo">Toledo</option>
                                                                <option value="Valencia">Valencia</option>
                                                                <option value="Valladolid">Valladolid</option>
                                                                <option value="Vizcaya">Vizcaya</option>
                                                                <option value="Zamora">Zamora</option>
                                                                <option value="Zaragoza">Zaragoza</option>
                                                            </select>
                                                            <div
                                                                *ngIf="checkoutForm.controls['ciudad'].hasError('required') && checkoutForm.controls['ciudad'].touched">
                                                                <small class="text-danger">Por favor, introduce una
                                                                    ciudad</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-4 mb-lg-0">
                                                            <label class="form-label" for="billing-city">Código
                                                                Postal</label>
                                                            <input type="text" class="form-control" id="billing-city"
                                                                placeholder="Introduce el código postal"
                                                                formControlName="cod_postal">
                                                            <div
                                                                *ngIf="checkoutForm.controls['cod_postal'].hasError('required') && checkoutForm.controls['cod_postal'].touched">
                                                                <small class="text-danger">Ajuste un código
                                                                    postal</small>
                                                            </div>
                                                            <div
                                                                *ngIf="checkoutForm.controls['cod_postal'].hasError('pattern') && checkoutForm.controls['cod_postal'].touched">
                                                                <small class="text-danger">Código postal no
                                                                    válido</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="billing-email-address">Email
                                                            </label>
                                                            <input type="email" class="form-control"
                                                                id="billing-email-address"
                                                                placeholder="Introduce el email"
                                                                formControlName="email">
                                                            <div
                                                                *ngIf="checkoutForm.controls['email'].hasError('required') && checkoutForm.controls['email'].touched">
                                                                <small class="text-danger">Campo email sin
                                                                    completar</small>
                                                            </div>
                                                            <div
                                                                *ngIf="checkoutForm.controls['email'].hasError('email') && checkoutForm.controls['email'].touched">
                                                                <small class="text-danger">Formato email
                                                                    inválido</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </form>
                        <li class="checkout-item">
                            <div class="avatar checkout-icon p-1">
                                <div class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bxs-wallet-alt text-white font-size-20"></i>
                                </div>
                            </div>
                            <div class="feed-item-list">
                                <div>
                                    <h5 class="font-size-16 mb-1">Información de Pago</h5>
                                    <br>
                                </div>
                                <div>
                                    <h5 class="font-size-14 mb-3"> Método de pago:</h5>
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6">
                                            <div data-bs-toggle="collapse">
                                                <label class="card-radio-label">
                                                    <!-- Button trigger modal -->
                                                    <input type="radio" name="pay-method" id="pay-methodoption1"
                                                        class="card-radio-input" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal">
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                                        Introduzca la información</h1>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <div class="d-flex flex-column">
                                                                                <label for="num_tarjeta">Número
                                                                                    tarjeta</label>
                                                                                <input type="number" id="num_tarjeta">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <div class="d-flex flex-column">
                                                                                <label for="fecha">Fecha
                                                                                    caducidad</label>
                                                                                <input type="number" id="fecha">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-2">
                                                                            <div class="d-flex flex-column">
                                                                                <label for="seguridad">CVV</label>
                                                                                <input type="number" id="seguridad">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" (click)="onSubmit()" class="btn btn-primary">
                                                                        Pagar
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="card-radio py-3 text-center text-truncate">
                                                        <i class="bx bx-credit-card d-block h2 mb-3"></i>
                                                        Tarjeta de crédito
                                                    </span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-sm-6">
                                            <div data-bs-toggle="collapse">
                                                <label class="card-radio-label">
                                                    <!-- Button trigger modal -->
                                                    <input type="radio" name="pay-method" id="pay-methodoption1"
                                                        class="card-radio-input" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal2">
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal2" tabindex="-1"
                                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                                        Pulse en el botón de PayPal</h1>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="card-radio py-3 text-center text-truncate">
                                                        <i class="bx bxl-paypal d-block h2 mb-3"></i>
                                                        PayPal
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row my-4">
                <div class="col">
                    <a href="ecommerce-products.html" class="btn btn-link text-muted">
                        <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
                </div> <!-- end col -->
                <div class="col">
                    <div class="text-end mt-2 mt-sm-0">
                        <a href="#" class="btn btn-success">
                            <i class="mdi mdi-cart-outline me-1"></i> Procced </a>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row-->
        </div>

    </div>
    <!-- end row -->

</div>