<ngx-spinner type="ball-scale-multiple">
    <h3>Realizando el pago</h3>
</ngx-spinner>

<section class="carrito m-4">
    <h2>Carrito de compras</h2>
</section>


<div class="container">
    @if (productosEnCarrito.length > 0) {
    <div class="row">

        <div class="col-xl-8">
            @for (producto of productosEnCarrito; track producto.id) {
            <div class="card border shadow-none">
                <div class="card-body">
                    <div class="d-flex align-items-start border-bottom pb-3">
                        <div class="me-4">
                            <img [src]="producto.foto" alt="" class="avatar-lg rounded">
                        </div>
                        <div class="flex-grow-1 align-self-center overflow-hidden">
                            <div>
                                <h5 class="text-truncate font-size-18"><a href="#"
                                        class="text-dark">{{producto.nombre}}</a></h5>
                                <p class="text-muted mb-0">
                                    <i class="bx bxs-star text-warning"></i>
                                    <i class="bx bxs-star text-warning"></i>
                                    <i class="bx bxs-star text-warning"></i>
                                    <i class="bx bxs-star text-warning"></i>
                                    <i class="bx bxs-star-half text-warning"></i>
                                </p>
                            </div>
                        </div>
                        <div class="flex-shrink-0 ms-2">
                            <ul class="list-inline mb-0 font-size-16">
                                <li class="list-inline-item">
                                    <button class="btn btn-danger" (click)="eliminarProducto(producto.id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </li>
                                <li class="list-inline-item">
                                    <button class="btn btn-primary">
                                        <i class="bi bi-heart"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mt-3">
                                    <p class="text-muted mb-2">Precio</p>
                                    <h5 class="mb-0 mt-2"><span class="text-muted me-2">{{producto.precio}}€</span></h5>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mt-3">
                                    <p class="text-muted mb-2">Cantidad</p>
                                    <div class="d-inline-flex">
                                        <select class="form-select form-select-sm w-xl" [(ngModel)]="producto.cantidad"
                                            (change)="cambiarCantidad($event, producto.id)">
                                            <option *ngFor="let n of generarRango(producto.stock)" [value]="n">
                                                {{ n }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mt-3">
                                    <p class="text-muted mb-2">Total</p>
                                    <h5>{{producto.precio * producto.cantidad}}€</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end card -->
            
            }
            <div class="row my-4">
                <div class="col-sm-4">
                    <button type="button" (click)="irAtras()" class="btn btn-link text-muted">
                        <i class="bi bi-arrow-bar-left"></i> Continuar comprando
                    </button>
                </div>
                <div class="col-sm-4">
                    <div class="text-sm-end mt-2 mt-sm-0">
                        <button (click)="vaciarCarrito()" class="btn btn-danger">
                            <i class="bi bi-trash"></i> Vaciar carrito
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="text-sm-end mt-2 mt-sm-0">
                        <button type="button" (click)="irCheckout()" class="btn btn-success">
                            <i class="bi bi-cart"></i> Checkout
                        </button>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row-->
        </div>

        <div class="col-xl-4">
            <div class="mt-5 mt-lg-0">
                <div class="card border shadow-none">
                    <div class="card-header bg-transparent border-bottom py-3 px-4">
                        <h5 class="font-size-16 mb-0">Resumen del pedido</h5>
                    </div>
                    <div class="card-body p-4 pt-2">

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    @for (producto of productosEnCarrito; track producto.id) {
                                    <tr>
                                        <td>{{producto.nombre}} x {{ producto.cantidad }}</td>
                                        <td class="text-end">{{producto.precio * producto.cantidad}}€</td>
                                    </tr>
                                    }
                                    <tr class="bg-light">
                                        <th>Total :</th>
                                        <td class="text-end">
                                            <span class="fw-bold">
                                                {{this.total | number : '1.2-2' }}€
                                            </span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
    } @else {
    <p>El carrito está vacío.</p>
    }
</div>