<div class="container-fluid">
    <div class="row h-100">
        <div class="col-6 text-center">
            <div class="row">
                <div class="col-12">
                    <img src="sudadera2.png" alt="nada">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="sudadera1.png" alt="">
                </div>
                <div class="col-4">
                    <img src="sudadera1.png" alt="">
                </div>
                <div class="col-4">
                    <img src="sudadera1.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-6">
            @if (infoProducto) {
                <div class="d-flex align-items-center">
                    @if (!nombreEditable) {
                      <h1 class="me-2">{{ infoProducto.nombre }}</h1>
                      @if (isAdmin()) {
                        <button type="button" class="btn" (click)="updateNombre()">
                          <i class="bi bi-pencil-fill"></i>
                        </button>
                      }
                    } @else {
                      <input type="text"
                             class="form-control w-auto"
                             [(ngModel)]="nuevoNombre"
                             (keypress)="onNombreKeyPress($event)"
                             autofocus />
                    }
                </div>
                <p>{{ infoProducto.descripcion }}</p>
                <p>Precio: {{ infoProducto.precio }}€</p>
                <p>Stock: {{ infoProducto.stock }}</p>
            } @else {
                <h1>Cargando...</h1>
            }
            <div class="row">
                <div class="col-1">
                    <button (click)="decrease()"><i class="bi bi-dash"></i></button>
                </div>
                <div class="col-4">
                    <input type="text" [value]="quantity" readonly>
                </div>
                <div class="col-1">
                    <button (click)="increase()"><i class="bi bi-plus"></i></button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary">Añadir al carrito</button>
                </div>
            </div>
            <p>¡Danos tu opinión!</p>
            
        </div>
    </div>
    <div class="row h-100 mt-5">
        @for (resena of resenas; track resena.id){
            <div class="col-9">
                <p>{{ resena.comentario }}</p>
                <hr>
            </div>
        } @empty {
            <p>No hay reseñas</p>
        }
    </div>
</div>