<div class="container-fluid">
    @if (infoProducto) {
    <div class="row h-100">
        <div class="col-6 text-center">
            @if (infoProducto.foto){
            <img [src]="infoProducto.foto" alt="Imagen del producto" class="img-fluid">
            } @else {
            @if (isVendedor()) {
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                <img src="placeholder.png" alt="Imagen del producto no disponible" class="img-fluid">
                <input type="file" accept="" (change)="onImageSelected($event)" class="mt-2">
                <button (click)="onUpload(infoProducto.id)" [disabled]="!selectedFile"
                    class="btn btn-primary mt-2">Subir imagen</button>
            </div>
            }
            }
        </div>
        <div class="col-6">
            @if (infoProducto) {
            <div class="d-flex align-items-center">
                @if (!nombreEditable) {
                <h1 class="me-2">{{ infoProducto.nombre }}</h1>
                @if (isVendedor()) {
                <button type="button" class="btn" (click)="updateNombre()">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                }
                } @else {
                <input type="text" class="form-control w-auto" [(ngModel)]="nuevoNombre"
                    (keypress)="onNombreKeyPress($event)" autofocus />
                }
            </div>
            <p>{{ infoProducto.descripcion }}</p>
            <p>Precio: {{ infoProducto.precio }}€</p>
            <p>Stock: {{ infoProducto.stock }}</p>
            } @else {
            <h1>Cargando...</h1>
            }
            @if (infoProducto.stock > 0) {
            <div class="row">
                <div class="col-1">
                    <button (click)="decrease()"><i class="bi bi-dash"></i></button>
                </div>
                <div class="col-4">
                    <input type="text" [value]="quantity" readonly>
                </div>
                <div class="col-1">
                    <button (click)="increase()"><i class="bi bi-plus"></i></button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary" (click)="anyadirAlCarrito()">Añadir al
                        carrito</button>
                </div>

            </div>
            } @else {
            <p>Stock agotado</p>
            }

            @if (isVendedor()) {
            <div class="row">
                <div class="col-3">
                    <input type="number" #inputStock min="0">
                    <button (click)="actualizarStock(infoProducto.id, +inputStock.value)">Actualizar stock</button>
                </div>
            </div>
            }

        </div>
    </div>
    <div class="row h-100 mt-5">
        <h3 class="mb-4">¡Danos tu opinión!</h3>
        @if (resenas){
            @for (resena of resenas; track resena.id){
                <div class="col-9">
                    <p>{{ resena.comentario }}</p>
                    @for (estrella of [].constructor(resena.puntuacion); track $index) {
                        <i class="bi bi-star-fill"></i>
                    }
                    <p>De: {{ resena.cliente.usuario.username }}</p>
                    @if (esResenaDelUsuario(resena)){
                    <input type="button" (click)="deleteResena(resena.id)" value="Eliminar" class="btn btn-danger mb-3">
                    }
                </div>
            <hr>
            }
        }
        @if (isUser()) {
        <p class="mt-4">Escribe una reseña</p>
        <div class="row">
            <form [formGroup]="resenaForm" (ngSubmit)="onSubmitResena()">
                <div class="col-6 m-2">
                    <textarea formControlName="comentario" id="comentario" class="form-control"></textarea>
                    <div
                        *ngIf="resenaForm.controls['comentario'].hasError('required') && resenaForm.controls['comentario'].touched">
                        <small class="text-danger">Campo comentario sin completar</small>
                    </div>
                </div>
                <div class="col-1 m-2">
                    <label for="">Puntuación (1-5)</label>
                    <input type="number" max="5" min="0" formControlName="puntuacion" id="puntuacion"
                        class="form-control">
                    <div
                        *ngIf="resenaForm.controls['puntuacion'].hasError('required') && resenaForm.controls['puntuacion'].touched">
                        <small class="text-danger">Campo puntuación sin completar</small>
                    </div>
                </div>
                <div class="col-2 m-2">
                    <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
                </div>
            </form>
        </div>
        } @else {
        <p>Inicia sesión para dejar una reseña</p>
        }
    </div>
    }

</div>