<div class="modal-header">
    <h4>Compra realizada!!</h4>
    <button type="button" class="btn-close" 
        data-bs-dismiss="modal" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
        ></button>
</div>

<div class="modal-body">
    <h3>Items</h3>
    <hr>
    @for (item of items; track $index) {
        <p><b>Nombre: </b>{{ item.name }} <b>Unidades: </b>{{ item.quantity }} <b>Precio: </b>{{ item.unit_amount.value }}
        {{ item.unit_amount.currency_code }}</p>
    }
    <hr>
    <h3><b>Total: </b>{{ amount }}€</h3>
</div>