<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="carrusel1.jpg" class="d-none d-xxl-block mx-auto" alt="...">

            <div class="carousel-caption position-absolute  top-75 start-50 translate-middle text-white">
                <div class="bg-secondary p-3 rounded col-9 text-center mx-auto">
                    <h5>Disco XL Aniversario AM Redención de Sevilla</h5>
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="carrusel2.jpg" class="d-none d-xxl-block mx-auto" alt="...">
            <div class="carousel-caption position-absolute top-75 start-50 translate-middle text-white">
                <div class="bg-secondary p-3 rounded col-9 text-center mx-auto">
                    <h5>Potencias de cristo hermandad Padre Pío</h5>
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="carrusel3.png" class="d-none d-xxl-block mx-auto" alt="...">
            <div class="carousel-caption position-absolute top-75 start-50 translate-middle text-white">
                <div class="bg-secondary p-3 rounded col-9 text-center mx-auto">
                    <h5>Costal tipo L</h5>
                    <button type="button" class="btn btn-primary">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>